<html>
    <head>
        <title>Yog</title>
        <link rel="stylesheet" href="/stylesheets/style.css">

        <meta name="viewport" content="width=device-width, user-scalable=no">

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </head>
    <body>
        <h1 class="logo"><img src="/images/logo.png" alt="Yog Logo"> yog</h1>
        <div class="overlay table" id="email_capture">
            <h2>You<br>Have<br>Never<br>Run Like This</h2>
            <div class="form">
                <input type="email" name="email" placeholder="Email">
                <button>Submit</button>
                <div class="thanks" style="display: none;">Thank You</div>
            </div>
            <span class="message" style="display:none;"></span>
        </div>

        <p class="coming-soon">Coming Soon to iPhone and Android</p>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/javascripts/main.js"></script>
    </body>
</html>
