<html>
    <head>
        <title>Yog</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="background"></div>
        <div class="overlay" id="email_capture">
            <img src="/images/logo.png" alt="Yog">
            <input type="email" name="email" placeholder="Email">
            <button>Submit</button>
            <span class="message" style="display:none;"></span>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/javascripts/main.js"></script>
    </body>
</html>